  {{log dream}}
    <form class="form-group newDreamForm v">
      <input type="date" name="dream[date]" placeholder="YYYY-MM-DD">
      <input type="text" class="form-control input-lg" name="dream[mood]" placeholder="well rested? stressed?">
      <input type="text" class="form-control input-lg" name="dream[body]" placeholder="What you can remember, best of your ability">
      <button class="btn btn-primary" type="submit"> Save </button>
    </form>
