  {{log dream}}
    <form class="form-group newDreamForm v">
      <input type="date" name="dream[date]" placeholder="YYYY-MM-DD">
      <select class="custom-select custom-select-sm" name="dream[mood]">
  <option selected>Open this select menu</option>
  <option value="Well-Rested">Well-Rested</option>
  <option value="Tired">Tired</option>
  <option value="Stressed">Stressed</option>
</select>
      <input type="text" class="form-control input-lg" name="dream[body]" placeholder="What you can remember, best of your ability">
      <button class="btn btn-primary" type="submit"> Save </button>
    </form>
