  {{log dream}}
    <form class="form-group newDreamForm v">
      <input type="date" name="dream[date]" placeholder="YYYY-MM-DD">
      <select class="custom-select custom-select-sm" name="dream[mood]">
  <option selected>How did you sleep?</option>
  <option value="5. Very Well-Rested">5. Very Well-Rested</option>
  <option value="4. Mostly Well-Rested">4. Mostly Well-Rested</option>
  <option value="3. Decently Rested">3. Decently Rested</option>
  <option value="2. Poorly Rested">2. Poorly Rested</option>
  <option value="1. Poor or No Sleep">1. Poor or No Sleep</option>
</select>
      <input type="text" class="form-control input-lg" name="dream[body]" placeholder="What you can remember, best of your ability">
      <button class="btn btn-primary" type="submit"> Save </button>
    </form>
