  {{log dream}}
      <form data-id="{{dream}}" class ='dream_list dreamForm v'>
      <input type="date" name="dream[date]" placeholder="date">
      <input type="text" name="dream[mood]" placeholder="mood">
      <input type="text" name="dream[body]" placeholder="body">
      <button class="btn btn-primary save-dream" type="submit"> Save </button>
    </form>
