@import '~bootstrap/scss/bootstrap';

body {
  display: grid;
  min-height: 100vh;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
}

.sign-in {
  display: show;
}

.success {
  background-color: green;
  color: $white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: $white;
  font-size: 2em;
}

.after-auth {
  display: none;
}
