@import '~bootstrap/scss/bootstrap';

body {
  display: grid;
  min-height: 100vh;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-last-child(-1n + 3) {
  border-bottom: 0;
}

.sign-in {
  display: show;
}

.success {
  background-color: green;
  color: $white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: $white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.edit-dreams {
  display: none;
}

.user-settings {
  display: none;
}

.main-nav ul li {
  display: inline-block;
  text-decoration: none;
}

.btn-nav {
  background-color: blue;
  width: 100%;
}

.dream-list {
  display: none;

  .dream-box {
    border: 2px solid #152f69;
    padding: 8px;
    margin-top: 10px;
    color: #FFF;
    border-radius: 8px;
    background-color: #1f418c;
  }
  .content {
    @include make-row;

    &:empty {
      &::before {
        color: lighten($info, 25%);
        content: 'Click Get Books';
        font-size: 10vh;
        line-height: .85;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.retreived-dream {
  display: none;
}

.sleep-chart {
  background-color: #1f418c;
  display: none;
  margin: 5px;
}
